{% block navbar %}
<!-- Image and text -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      {# the image lives at "public/images/logo.png" #}
      <img src="{{ asset('images/brett-jordan-hrUhyFq6u-A-unsplash.jpg') }}" alt="A disc vinyl image"/>
      Crazy Vinyl
    </a>
  </nav>
{% endblock %}