{% block footer %}
  <footer class="container">
    <i class="fa-brands fa-github"></i>
    <a href="https://github.com/j-guerreiro" target="_blank">j-guerreiro</a>
    <hr>
  </footer>
{% endblock %}