<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}The Crazy Vinyl{% endblock %}</title>
        {% block stylesheets %}
          {% include 'stylesheets/stylesheets.html.twig' %}
        {% endblock %}
    </head>
    <body>
      {% block navbar %}
        {% include 'navbar/navbar.html.twig' %}
      {% endblock %}
      {% block tracks %}{% endblock %}
      {% block footer %} 
        {% include 'footer/footer.html.twig' %}
      {% endblock %}
      {% block javascripts %}{% endblock %}
    </body>
</html>
